extends regular
block seo
  title= accessoires[0]["t"]
  +desc('Набор кистей от Lambre')
block inside
  p
    a(href="./accessoires.html").rank= accessoires[0]["cat"]
  h1= accessoires[0]["t"]
  h2 Набор из 6 кистей для макияжа в футляре
  p.text-center
    img(src="./i/pedzle.png", alt="Набор из 6 кистей для макияжа в футляре")
  p Очень практичный набор кистей, который сделает Ваш ежедневный ритуал макияжа простым и эффектным, а макияж будет более выразительным и стойким.
  p
    ul.rain
      each title in ['Вы можете выбрать золотой или черный цвет футляра.','Набор включает в себя: кисть для пудры, кисть для румян, кисть для губ, кисть для теней, кисть для бровей, щеточку-гребешок для бровей и ресниц.  ']
        li= title
  h2 КИСТЬ ДЛЯ ПУДРЫ
  p Большая, закругленная кисть для нанесения любого вида пудры: компактной, запеченной, рассыпчатой или минеральной. Кисть предназначена для фиксирования тональной основы или коррекции макияжа в течение дня.
  p
    ul.rain
      each title in ['Синтетические щетинки','Длина ручки: 9,5 см','Длина щетинок: 4 см']
        li= title
  h2 КИСТЬ ДЛЯ РУМЯН
  p Мягкая кисть предназначена для нанесения румян, а также контурирования лица бронзером. Благодаря скошенному под углом ворсу кисть идеально повторяет все линии лица.
  p
    ul.rain
      each title in ['Синтетические щетинки','Длина ручки: 8,5 см','Длина щетинок: 4.5 см']
        li= title
  h2 КИСТЬ ДЛЯ ГУБ
  p Благодаря этой кисти нанесение Ваших средств для губ будет комфортным. Вы сможете четко очертить контур Ваших губ и заполнить их губной помадой или блеском.
  p
    ul.rain
      each title in ['Синтетические щетинки','Длина ручки: 10 см','Длина щетинок: 0.9 см']
        li= title
  h2 КИСТЬ ДЛЯ ТЕНЕЙ
  p Многофункциональная кисточка для оформления макияжа глаз. Плоская кисть позволит Вам наносить тени на все веко, придавая взгляду выразительность.
  p
    ul.rain
      each title in ['Синтетические щетинки','Длина ручки: 10 см','Длина щетинок: 1 см']
        li= title
  h2 КИСТЬ ДЛЯ БРОВЕЙ
  p Безупречные очерченные брови – залог выразительного макияжа глаз. Этой кистью можно создать арку бровей, скорректировать их форму и заполнить их любым из Ваших средств для макияжа бровей.
  p
    ul.rain
      each title in ['Синтетические щетинки','Длина ручки: 10 см','Длина щетинок: 0.8 см']
        li= title
  p
    h2 ЩЕТОЧКА - ГРЕБЕШОК ДЛЯ БРОВЕЙ И РЕСНИЦ
  h2.text-center ИСПОЛЬЗУЙТЕ ЭТУ КИСТЬ, ЧТОБЫ РАЗДЕЛИТЬ ВАШИ РЕСНИЦЫ И РАСЧЕСАТЬ БРОВИ. ПЛАСТИКОВАЯ РАСЧЕСКА ПОЗВОЛИТ ВАМ ИЗБЕЖАТЬ ЭФФЕКТА СКЛЕЕННЫХ РЕСНИЦ, А КИСТЬ ПОМОЖЕТ ПРИДАТЬ БЕЗУПРЕЧНУЮ ФОРМУ ВАШИМ БРОВЯМ.
  p
    ul.rain
      each title in ['Синтетические щетинки','Длина ручки: 9.5 см','Длина щетинок: 3 см']
        li= title
