extends regular
block seo
  title= careskin[1]["t"]
  +desc('Эксклюзивный антицеллюлитный сахарный пилинг для тела 200 мл')
block inside
  p
    a(href="./careskin.html").rank= careskin[1]["cat"]
  h1= careskin[1]["t"]
  h2
    |Advanced body peeling
    br
    |Эксклюзивный антицеллюлитный сахарный пилинг для тела 200 мл
  p.text-center
    img(src="./i/564.jpg", alt="Эксклюзивный антицеллюлитный сахарный пилинг для тела 200 мл")
  p Кристаллы сахара и ухаживающие частички из косточек фруктов клюквы и грейпфрута, погружённые в питательные масла, улучшают микроциркуляцию и питают кожу кислородом, стимулируя процесс обновления клеток. Массаж с использованием пилинга обладает антицеллюлитным действием: стимулирует кровообращение, повышает упругость и эластичность кожи; разглаживает, смягчает, освежает и увлажняет. Ваша кожа начинает «дышать» и более интенсивно впитывать активные компоненты из других ухаживающих средств. Кожа становится оптимально увлажнённой, упругой, гладкой и приятной на ощупь.
  p
    ol
      each title in ['Уменьшение целлюлита и жировых тканей','Идеально гладкая, упругая и эластичная кожа','Освежает и дарит прекрасный аромат']
        li= title
  p
    ul.rain
      each title in ['Cемена грейпфрута','Cемена клюквы','Масло сладкого миндаля','Масло виноградных косточек','Цветочный нектар']
        li= title
  h2
    |Acai berry plus
    br
    |Пищевая добавка
  p.text-center
    img(src="./i/566.jpg", alt="Acai berry plus")
  p 60 капсул/курс на один месяц
  p
    ol
      each title in ['СЖИГАЕТ ЖИРОВЫЕ ТКАНИ','СНИЖАЕТ ВЕС ','УСКОРЯЕТ ОБМЕН ВЕЩЕСТВ','ВИДИМЫЙ РЕЗУЛЬТАТ УЖЕ ПОСЛЕ НЕСКОЛЬКИХ НЕДЕЛЬ ПРИМЕНЕНИЯ  ']
        li= title
  p
    ul.rain
      each title in ['Гарантированное снижение  веса','Возраст не влияет на эффективность продукта','Во время проведения курса не наблюдалось никаких побочных эффектов','Снижение массы равномерно распределяется на все части тела.']
        li= title
  p
    ol
      each title in ['Ягоды асаи ','Клетчатка','Кофеин','Цинк','Хром']
        li= title
  p
    ul.rain
      each title in ['Действие препарата заметно уже к концу 8-ой недели в 98% случаев.','В 82% случаев первые изменения произошли в течение одного месяца с даты начала использования добавки.']
        li= title
  h2
    |Active body serum
    br
    |Активная сыворотка для тела, обладающая интенсивным моделирующим действием 150 мл
  p.text-center
    img(src="./i/565.jpg", alt="АКТИВНАЯ СЫВОРОТКА ДЛЯ ТЕЛА, ОБЛАДАЮЩАЯ ИНТЕНСИВНЫМ МОДЕЛИРУЮЩИМ ДЕЙСТВИЕМ 150 МЛ")
  p УНИКАЛЬНАЯ ФОРМУЛА сыворотки обеспечивает специализированный уход за телом, создавая удивительный эффект стройной и подтянутой фигуры. Препарат активно способствует сжиганию жировых отложений, а также необычайно эффективно борется с целлюлитом. Входящие в состав сыворотки компоненты нового поколения были отобраны с целью устранения жировых отложений. Продукт эффективно поддерживает моделирующий эффект, позволяет добиться впечатляющих результатов, гарантирует значительное уменьшение слоя подкожных жировых отложений, вызывая тем самым быструю потерю массы тела.
  p
    ol
      each title in ['БОРЕТСЯ С ЦЕЛЛЮЛИТОМ','МОДЕЛИРУЕТ ФИГУРУ','УМЕНЬШАЕТ ЖИРОВЫЕ ОТЛОЖЕНИЯ'  ]
        li= title
  p
    ul.rain
      each title in ['ACTIPORINE 8G','ANTI-CELLULITE COMPLEX FORTE SB','SLIMASTEVIA'  ]
        li= title
  h2
    |Slim body expert green coffee model body balm
    br
    |Моделирующий бальзам для тела 150 мл
  p.text-center
    img(src="./i/55.png", alt="МОДЕЛИРУЮЩИЙ БАЛЬЗАМ ДЛЯ ТЕЛА 150 МЛ")
  p Моделирующий бальзам для тела с экстрактом ЗЕЛЕНОГО КОФЕ ускоряет процесс сжигания жира, эффективно борется с целлюлитом. Обеспечивает коже комплексный уход и привлекательный внешний вид уже после первого применения. Богатая формула, усиленная витаминами, обеспечивает длительное увлажнение и глубокую регенерацию кожи. Укрепляет структуру кожи, восстанавливая ее плотность и эластичность. Бальзам хорошо и быстро впитывается, кожа моментально становится упругой и приятной на ощупь.
  p
    ol
      each title in ['Упругая и подтянутая кожа ','Моделирует фигуру ','Интенсивно увлажняет кожу ']
        li= title
  p
    ul.rain
      each title in ['Coffee Phytpeel ','Масло сладкого миндаля ','Масло виноградных косточек','D - Panthenol ','Комплекс Витаминов A, E, F ']
        li= title
  h2
    |Slim body expert green coffee exfoliation body peeling
    br
    |Отшелушивающий и успокаивающий сахарный пилинг для тела 150 мл
  p.text-center
    img(src="./i/56.png", alt="Отшелушивающий и успокаивающий сахарный пилинг для тела 150 мл ")
  p Благодаря натуральным кристаллам сахара и экстракту зеленого кофе пилинг удаляет отмершие клетки кожи, и как следствие – кожа тела становится подтянутой, свежей и увлажненной. Экстракт ЗЕЛЕНОГО КОФЕ ускоряет процесс сжигания жировой ткани и оказывает антицеллюлитное действие. Пилинг, регулируя микроциркуляцию, подтягивает и омолаживает кожу, а бодрящий аромат кофе добавляет энергии и улучшает настроение на весь день.
  p
    ol
      each title in ['Сжигает жировые ткани ','Интенсивно отшелушивает ','Эффективно разглаживает ']
        li= title
  p
    ul.rain
      each title in ['Coffee Phytpeel ','Масло сладкого миндаля ','Масло виноградных косточек','D - Panthenol ','Комплекс Витаминов A, E, F ']
        li= title
