extends regular
block seo
  title= careskin[2]["t"]
  +desc('Тоник восстанавливает натуральный кислотно-щелочной баланс (pH) кожи, освежает и дезинфицирует ее.')
block inside
  p
    a(href="./careskin.html").rank= careskin[2]["cat"]
  h1= careskin[2]["t"]
  h2
    |Tto tonic
    br
    |Тоник для проблемной кожи 120 мл
  p.text-center
    img(src="./i/34.jpg", alt="Тоник для проблемной кожи 120 мл")
  p Уменьшает угревые изменения, сдерживая выработку кожного жира. Масло чайного дерева в сочетании с регулирующим концентратом Ac.net и эхинацеей пурпурной очищает и стягивает поры, предотвращает развитие бактерий, эффективно противодействует повторному появлению угревой сыпи. Тоник восстанавливает натуральный кислотно-щелочной баланс (pH) кожи, освежает и дезинфицирует ее. Тоник TTO не содержит спирта, благодаря чему не вызывает раздражения и не пересушивает кожу.
  p.text-center
    img(src="./i/561.png", alt="Тоник для проблемной кожи 120 мл")
  p
    ol
      each title in ['Наличие компонента ac.net уменьшает угревые изменения, благодаря сокращению выделения кожного сала и излишнего ороговения кожи','Обладает противовоспалительным, антибактериальным, противовирусным, заживляющим, увлажняющим действием','Нежно стягивает поры и уменьшает предрасположенность к скапливанию в них себорейных выделений, понижает уровень выделения себореи','Уменьшает предрасположенность к появлению угревых изменений','Играет важную роль в удалении угрей','Соответствующим образом увлажняет кожу','Является натуральным средством для предотвращения бактериальных заболеваний кожи','Смягчает и разглаживает поверхность кожи']
        li= title
  p
    ul.rain
      each title in ['AC. NET','Phytexcell Echinacea - экстракт из эхинацеи пурпурной Echinacea purpura','Water Soluble TTO - масло чайного дерева']
        li= title
  h2
    |Tto cream
    br
    |Крем-гель против угревой сыпи 15 мл
  p.text-center
    img(src="./i/35.jpg", alt="Крем-гель против угревой сыпи 15 мл")
  p Гель TTO Cream для местного применения объявляет войну угревой сыпи. Антибактериальные молекулы Tea Tree Oil, эхинацея пурпурная (Echinacea purpurea), а также редукторы излишнего выделения кожного сала и ферментов (энзимов), содержащиеся в геле, эффективно борются с угревыми изменениями, а также приостанавливают их появление. Гель регулирует правильное функционирование клеток кожи. Уменьшает покраснения и кожную сыпь, значительно улучшая внешний вид кожи.
  p.text-center
    img(src="./i/33.png", alt="Крем-гель против угревой сыпи 15 мл")
  p
    ol
      each title in ['Успокаивает раздражение и покраснения кожи в месте появления кожной сыпи, нежно ее осветляя.','Улучшает внешний вид кожи благодаря уменьшению угревых изменений (противобактериальное действие), а также уменьшению видимости различных недостатков кожи','Нежно стягивает поры, приводит к редукции угрей и уменьшению выделения себореи.']
        li= title
  p
    ul.rain
      each title in ['Bisabolol - бисаболол','Phytexcell Echinacea - экстракт из эхинацеи пурпурной Echinacea purpura','Water Soluble TTO - масло чайного дерева']
        li= title
  h2
    |Tto oil
    br
    |Масло чайного дерева 9 мл
  p.text-center
    img(src="./i/562.png", alt="Масло чайного дерева 9 мл")
  p Масло австралийского чайного дерева с мощным антибактериальным и противовоспалительным действием. Масло TTO Oil обогащено водно-гликоловым экстрактом из эхинацеи и регулирующим концентратом Ac.net. Для широкого применения. Великолепная поддержка организму в борьбе с инфекциями, воспалительными процессами и угревой сыпью. Бодрящий, пряный и терпкий аромат обладает ослабляющими напряжение свойствами, помогает бороться со стрессом, стимулирует память и мыслительные процессы.
  p
    ol
      each title in ['Оказывает успокаивающее, расслабляющее воздействие','Производит бактерицидное воздействие','Борется с бактериальными и грибковыми патогенными флорами','Эффективно борется с инфекциями','Действует расслабляюще, удаляя нервное напряжение','Снижает избыточное ороговение кожи']
        li= title
  p
    ul.rain
      each title in ['Чистое австралийское масло чайного дерева Tea Tree Oil']
        li= title
  h2
    |Tto gel
    br
    |Очищающий гель для жирной и комбинированной кожи 120 мл
  p.text-center
    img(src="./i/563.png", alt="Очищающий гель для жирной и комбинированной кожи 120 мл")
  p.text-center
    img(src="./i/36.jpg", alt="Очищающий гель для жирной и комбинированной кожи 120 мл")
  p Идеальный продукт для ежедневного ухода за проблемной кожей. Нежно очищает кожу, удаляя излишнее количество кожного сала, очищает поры от загрязнения. Эффективная рецептура, обогащенная натуральными бетаинами, эхинацеей пурпурной и Ac.net, оказывает антибактериальное и противовоспалительное действие, регулирует работу сальных желез, возвращая коже, подверженной угревой сыпи, натуральный, здоровый внешний вид.
  p
    ol
      each title in ['Тщательно моет и очищает кожу, удаляя с ее поверхности и из пор натуральные загрязнения, накопление себума','Регулирует работу сальных желез, уменьшает себорею, а также видимость угревых изменений. Предотвращает их появление в будущем','Возвращает утраченный физический баланс кожи, предотвращает развитие воспалительного процесса, ускоряет заживление и уменьшает вероятность их повторного появления','Обладает противобактериальными свойствами, задерживает развитие и размножение бактерий','Возвращает коже естественный цвет, кожа осветляется и выглядит свежее','Кожа светлеет и приобретает матовый оттенок, становится намного более гладкой']
        li= title
  p
    ul.rain
      each title in ['AC. NET','Phytexcell Echinacea - экстракт из эхинацеи пурпурной Echinacea purpura','Water Soluble TTO - масло чайного дерева']
        li= title
