extends regular
block seo
  title= careskin[0]["t"]
  +desc('Крем с богатой формулой, сильными восстановительными свойствами и видимым омолаживающим эффектом')
block inside
  p
    a(href="./careskin.html").rank= careskin[0]["cat"]
  h1= careskin[0]["t"]
  h2
    |Wrinkle filler night cream
    br
    |Восстанавливающий ночной крем против морщин 50 мл
  p.text-center
    img(src="./i/123.jpg", alt="Восстанавливающий ночной крем против морщин 50 мл")
  p Крем с богатой формулой, сильными восстановительными свойствами и видимым омолаживающим эффектом. SIGNAL-10 максимально быстро проникает в самые глубокие слои кожи, удерживает влагу и предотвращает ее потерю, образуя особый защитный барьер. Содержащийся в креме фитосквалан обладает антиоксидантными свойствами. Повышает мягкость и эластичность кожи, восстанавливает и возвращает защитные свойства липидному слою кожи. Питает кожу, образуя на поверхности пленку-барьер, благодаря чему кожа противостоит воздействию внешних факторов. Нанесенный на ночь, крем будет питать вашу кожу и разгладит микроморщины, эффективно восполняя дефицит гиалуроновой кислоты.
  p
    ol
      each title in ['идеально увлажняет', 'восстанавливает', 'питает', 'заполняет морщины', 'улучшает общее состояние кожи']
        li= title
  p
    ul.rain
      each title in ['Lanol 99','Phytosqualan','TsubakiOil (масло  японской камелии)','Signal-10','Aquaxyl']
        li= title
  h2
    |Wrinkle filler day cream
    br
    |Дневной крем для заполнения морщин 50 мл
  p.text-center
    img(src="./i/31.jpg", alt="Дневной крем для заполнения морщин 50 мл")
  p Уникальная формула крема разработана на базе революционного активного компонента SIGNAL-10. Является самой активной частицей гиалуроновой кислоты. Мгновенно проникает через верхний слой кожи, обеспечивая необходимое насыщение кислородом всех ее слоев, возвращает эластичность, уменьшая видимость даже самых глубоких морщин. HYALUROSMOOTH TM оказывает двойное действие: полисахариды образуют защитную пленку, которая связывает и удерживает воду, заполняет морщины. Экстракт японской камелии моментально делает кожу гладкой, мягкой и бархатистой. Эффективно питает и увлажняет кожу, уменьшает отеки и защищает от вредного воздействия окружающей среды. Гиалуроновый дневной крем - это Ваш первый шаг к эффективному восполнению гиалуроновой кислоты в коже
  p
    ol
      each title in ['интенсивно увлажняет', 'заполняет морщины', 'питает', 'защищает от вредного воздействия окружающей среды', 'возвращает эластичность']
        li= title
  p
    ul.rain
      each title in ['Tsubaki Oil (масло японской камелии)','Signal-10','Hyalurosmooth']
        li= title
  h2
    |Wrinkle filler eye cream
    br
    |Разглаживающий морщины крем для кожи вокруг глаз 15 мл
  p.text-center
    img(src="./i/30.jpg", alt="Разглаживающий морщины крем для кожи вокруг глаз 15 мл")
  p Разглаживающий крем для кожи вокруг глаз был разработан для особого ухода за самой нежной частью кожи лица. Обеспечивает мгновенное ощущение комфорта, обладает омолаживающим эффектом. Активные вещества Signal-10 и Hyaluronic Filling Spheres, содержащиеся в креме, обеспечивают увлажнение и разглаживание морщин самой нежной области кожи лица. Регулярно используя крем для кожи вокруг глаз, Вы подарите ей ухоженный и сияющий вид.
  p
    ol
      each title in ['разглаживание морщин вокруг глаз','восстановление упругости кожи','защищает верхний слой эпидермиса от потери влаги','уменьшает  отечность и тени вокруг глаз']
        li= title
  p
    ul.rain
      each title in ['Tsubaki Oil (масло японской камелии)','Phytosqualan','Tegosoft DC','Hyaluronic Filling Spheres','Signal-10']
        li= title
  h2
    |Exclusive face serum
    br
    |Сыворотка для разглаживания морщин 15 мл
  p.text-center
    img(src="./i/66.jpg", alt="Сыворотка для разглаживания морщин 15 мл")
  p Эксклюзивная разглаживающая сыворотка предназначена для кожи, нуждающейся в интенсивном увлажнении и восстановлении упругости. Разработана на базе инновационных активных компонентов для кожи любого типа и возраста с признаками сухости. В состав сыворотки входит комбинация гиалуроновых кислот высокой концентрации. Применяйте утром и вечером для получения максимального эффекта разглаживания.
  p
    ol
      each title in ['мгновенное разглаживание кожи','повышение упругости и эластичности кожи','питание','быстрая регенерация кожи','улучшение овала лица','уменьшение морщин']
        li= title
  p
    ul.rain
      each title in ['Lanol 99','Signal-10']
        li= title
  p.text-center
    img(src="./i/26.jpg", alt="Сыворотка для разглаживания морщин")
  p.text-center
    img(src="./i/560.jpg", alt="Сыворотка для разглаживания морщин")
  p.text-center
    img(src="./i/28.jpg", alt="Разглаживающий морщины крем для кожи вокруг глаз")
  p.text-center
    img(src="./i/481.png", alt="Разглаживающий морщины крем для кожи вокруг глаз")
  p.text-center
    img(src="./i/29.jpg", alt="Дневной крем для заполнения морщин")
  p.text-center
    img(src="./i/483.png", alt="Дневной крем для заполнения морщин")
  p.text-center
    img(src="./i/482.png", alt="Восстанавливающий ночной крем против морщин")
  p.text-center
    img(src="./i/27.jpg", alt="Восстанавливающий ночной крем против морщин")
