extends regular
block seo
  title= man[7]["t"]
  +desc(man[7]["desc"])
  meta(property='og:title', content=man[7]["t"])
  meta(property='og:description', content=man[7]["desc"])
  meta(property='og:image', content=siteRoot + 'i/450/'+ man[7]["img"])
  meta(property='og:url', content=siteRoot + man[7]["a"] + '.html')
block inside
  p
    a(href="./"+ link4 + ".html").rank= man[7]["cat"]
  h1(itemprop="name")= man[7]["t"]
  p.text-center
    img(itemprop="image",src="./i/"+ man[7]["img"], alt=man[7]["t"])
  p(itemprop="description") Олицетворение юношеской силы и неуёмной энергии. Оригинальный аромат для уверенных в себе, активных молодых людей. Придает таинственное очарование и интригует. Горький грейпфрут, освежающие океанические ноты и сладкий мандарин - это взрывная смесь начальных нот. Нота «Сердца» - необычное сочетание жасмина, лаврового листа и пряных приправ. Базой этой интересной композиции являются лесной мох, ароматы экзотических деревьев гваякум и пачули. Он уже хочет чувствовать себя настоящим мужчиной – сильным, смелым, способным покорять вершины и девичьи сердца. Х – вдохновляет на подвиги и подчёркивает индивидуальность. Х – это то, что нужно для него!
  h2.text-center СЕМЕЙСТВО АРОМАТОВ: ДРЕВЕСНО-ЦИТРУСОВЫЕ.
  p
    ul.rain
      each title in ['Начальные ноты: грейпфрут, океанические ноты, мандарин.','Ноты «cердца»: жасмин, лавровый лист, spicy twist (пряности).','Конечные ноты: мох, пачули, гваякум.']
        li= title
  p.text-center
    img(src="./i/x.png", alt=man[7]["t"])
