extends regular
block seo
  title= man[0]["t"]
  +desc(man[0]["desc"])
  meta(property='og:title', content=man[0]["t"])
  meta(property='og:description', content=man[0]["desc"])
  meta(property='og:image', content=siteRoot + 'i/450/'+ man[0]["img"])
  meta(property='og:url', content=siteRoot + man[0]["a"] + '.html')
block inside
  p
    a(href="./"+ link4 + ".html").rank= man[0]["cat"]
  h1(itemprop="name")= man[0]["t"]
  p.text-center
    img(itemprop="image",src="./i/"+ man[0]["img"], alt=man[0]["t"])
  p(itemprop="description") Насыщенная палитра летней природы, свежесть морского бриза, влажность дождевого леса ... Первоначальная свежесть нот лимона и бергамота постепенно переходит в ненавязчивые и устойчивые оттенки лаванды и таинственные, нежные и успокаивающие ноты ангелики. Этот аромат отличается особой элегантностью и долгим звучанием, благодаря конечным нотам сантала, окутанного бархатистой нежностью мха и сладкой карамели.
  h2.text-center СЕМЕЙСТВО АРОМАТОВ: ДРЕВЕСНО - ЦИТРУСОВЫЕ.
  p
    ul.rain
      each title in ['Начальные ноты: лимон, бергамот.','Ноты «сердца»: лаванда, гальбанум, ангелика (дягиль).','Конечные ноты: мох, карамель, сантал.']
        li= title
  p.text-center
    img(src="./i/summer.png", alt=man[0]["t"])
