extends regular
block seo
  title= man[5]["t"]
  +desc(man[5]["desc"])
  meta(property='og:title', content=man[5]["t"])
  meta(property='og:description', content=man[5]["desc"])
  meta(property='og:image', content=siteRoot + 'i/450/'+ man[5]["img"])
  meta(property='og:url', content=siteRoot + man[5]["a"] + '.html')
block inside
  p
    a(href="./"+ link4 + ".html").rank= man[5]["cat"]
  h1(itemprop="name")= man[5]["t"]
  p.text-center
    img(itemprop="image",src="./i/"+ man[5]["img"], alt=man[5]["t"])
  p(itemprop="description") Son Desir – мужской аромат, созданный специально для LAMBRE французским парфюмером Бертраном Дюшафором (Bertrand Duchaufour). Son Desir является сложным коктейлем ароматических нот, звучание которых помогает понять свой темперамент и найти то, что в мужчине наиболее важно. Аромат розмарина, листьев помидоров, свежести бергамота и мяты сливаются воедино с томными оттенками гальбанума. Начальные ноты, создавая великолепное эффектное звучание, постепенно устремляются на неизведанные, омываемые морем и согреваемые солнечными лучами просторы. Проходя сквозь бодрящую прохладу глубокого вкуса чая, они, в конечном итоге, окунаются в нежные, теплые и устойчивые оттенки пачули, гвоздичного янтаря, дубового мха и мускуса.
  p Свежее, возбуждающее волнение – это Son Desir от LAMBRE.
  h2.text-center СЕМЕЙСТВО АРОМАТОВ: ТРАВЯНИСТО-ЦИТРУСОВЫЕ.
  p
    ul.rain
      each title in ['Начальные ноты: листья помидоров, розмарин, мята, гальбанум, бергамот.','Ноты «сердца»: чай, морские и солнечные ноты.','Конечные ноты: пачули, янтарь, мускус, дубовый мох.'  ]
        li= title
  p.text-center
    img(src="./i/50.png", alt=man[5]["t"])
