extends regular
block seo
  title= man[4]["t"]
  +desc(man[4]["desc"])
  meta(property='og:title', content=man[4]["t"])
  meta(property='og:description', content=man[4]["desc"])
  meta(property='og:image', content=siteRoot + 'i/450/'+ man[4]["img"])
  meta(property='og:url', content=siteRoot + man[4]["a"] + '.html')
block inside
  p
    a(href="./"+ link4 + ".html").rank= man[4]["cat"]
  h1(itemprop="name")= man[4]["t"]
  p.text-center
    img(itemprop="image",src="./i/"+ man[4]["img"], alt=man[4]["t"])
  p(itemprop="description") Современный мужчина постоянно ищет новые впечатления и коллекционирует эмоции. Древесно-травянистый аромат Louis подчёркивает неординарность его обладателя, уникальность его стиля. Свежие интригующие оттенки замороженного грейпфрута, базилика и мяты несут прохладу и энергию, необходимую, чтобы достойно принимать вызовы каждого нового дня. Звучание тимьяна, лаванды и перца в сочетании со шлейфовыми нотами кедра, ветивера и семян тропического дерева тонко подчеркивают индивидуальность. Вместе эти ноты соединяются в изящной, современной многогранной композиции.
  p Эта композиция создана для динамичных, свободомыслящих мужчин, умеющих принимать щедрые дары жизни и желающих постоянно ощущать свою принадлежность к высшему обществу и уникальность своего стиля.
  h2.text-center СЕМЕЙСТВО АРОМАТОВ: ДРЕВЕСНО-ТРАВЯНИСТЫЕ.
  p
    ul.rain
      each title in ['Начальные ноты: грейпфрут, базилик, мята.','Ноты «сердца»: тимьян, перец, лаванда.','Конечные ноты: кедровое дерево, ветивер, бобы тонка.']
        li= title
  p.text-center
    img(src="./i/louis.png", alt=man[4]["t"])
