extends regular
block seo
  title= woman[3]["t"]
  +desc(woman[3]["desc"])
  meta(property='og:title', content=woman[3]["t"])
  meta(property='og:description', content=woman[3]["desc"])
  meta(property='og:image', content=siteRoot + 'i/450/'+ woman[3]["img"])
  meta(property='og:url', content=siteRoot + woman[3]["a"] + '.html')
block inside
  p
    a(href="./"+ link5 + ".html").rank= woman[3]["cat"]
  h1(itemprop="name")= woman[3]["t"]
  p.text-center
    img(itemprop="image",src="./i/"+ woman[3]["img"], alt=woman[3]["t"])
  p(itemprop="description") Как описать француженку в трех словах? Современная, ухоженная и изящная. Она излучает положительную энергию и проявляет большой интерес к жизни. Именно таков аромат Elise – современный, свежий и элегантный. Цветочно-цитрусовый аромат гармонично вписывается в городское пространство. Нежные ноты желтого мандарина, фруктовой воды и зеленого яблока наполняют утро радостью, сменяясь затем быстрой пульсацией ароматов магнолии, фрезии и розы. Запахи сандала, кедра и серой амбры усиливают впечатление и придают шагу уверенность и решительность. Парфюмированная вода, созданная для активных женщин, которые наслаждаются светской жизнью. Аромат, подчеркивающий изящный и динамичный стиль современной женщины.
  h2.text-center СЕМЕЙСТВО АРОМАТОВ: ЦВЕТОЧНО-ЦИТРУСОВЫЕ.
  p
    ul.rain
      each title in ['Начальные ноты: роза, мандарин, зеленое яблоко, фруктовая вода.','Ноты «сердца»: магнолия, фрезия, роза.','Конечные ноты: сандаловое дерево, кедровое дерево, серая амбра.']
        li= title
