extends regular
block seo
  title= woman[5]["t"]
  +desc(woman[5]["desc"])
  meta(property='og:title', content=woman[5]["t"])
  meta(property='og:description', content=woman[5]["desc"])
  meta(property='og:image', content=siteRoot + 'i/450/'+ woman[5]["img"])
  meta(property='og:url', content=siteRoot + woman[5]["a"] + '.html')
block inside
  p
    a(href="./"+ link5 + ".html").rank= woman[5]["cat"]
  h1(itemprop="name")= woman[5]["t"]
  p.text-center
    img(itemprop="image",src="./i/"+ woman[5]["img"], alt=woman[5]["t"])
  p(itemprop="description") Son Secret– это женский аромат, созданный специально для LAMBRE французским парфюмером Bertrand Duchaufour (Бертрандом Дюшафором). Композиция аромата поражает начальными освежающими нотами бергамота и мандарина в сочетании с интенсивными оттенками дикого жасмина и красных фруктов, удивляя необыкновенной зрелостью и глубиной звучания. Постепенно испаряясь, аромат набирает нежные, теплые оттенки, благодаря присутствию  орхидеи, жимолости, иланг-иланга, ириса и зрелого пиона.  Ласковое цветочное звучание ароматических нот Son Secret завершает свое путешествие в окружении санталового дерева и мускуса, которые надолго запечатлевают этот аромат, не позволяя забыть о нем. Глубина и таинственность скрытые в Son Secret от LAMBRE.
  h2.text-center СЕМЕЙСТВО АРОМАТОВ: ЦВЕТОЧНО-ЦИТРУСОВЫЕ.
  p
    ul.rain
      each title in ['Начальные ноты: чубушник венечный (дикий жасмин), бергамот, мандарин, красные фрукты.','Ноты «сердца»: жимолость, жасмин, орхидея, пион, иланг-иланг, ирис.','Конечные ноты: мускус, сандаловое дерево.']
        li= title
  p.text-center
    img(src="./i/49.png", alt=woman[5]["t"])
