extends regular
block seo
  title= woman[1]["t"]
  +desc(woman[1]["desc"])
  meta(property='og:title', content=woman[1]["t"])
  meta(property='og:description', content=woman[1]["desc"])
  meta(property='og:image', content=siteRoot + 'i/450/'+ woman[1]["img"])
  meta(property='og:url', content=siteRoot + woman[1]["a"] + '.html')
block inside
  p
    a(href="./"+ link5 + ".html").rank= woman[1]["cat"]
  h1(itemprop="name")= woman[1]["t"]
  p.text-center
    img(itemprop="image",src="./i/"+ woman[1]["img"], alt=woman[1]["t"])
  p(itemprop="description") Аромат, подтверждающий, что даже зимой можно поднять температуру отношений в любом союзе. Небанальный, полный задора и неожиданных ароматических сочетаний парфюм великолепно разогревает чувства до оттенков красного. Цветочно-ориентальная композиция перенесет Вас в далекие теплые страны. Неожиданные ноты слегка морозных цветов, зелень смородины и душистого апельсина выводят из привычной реальности, открывая вдохновенные оттенки гардении, абсолюта розы, иланг-иланга, снежных пионов и мягкой белой замши. И всё это окутано ароматами искушающего пачули, изысканной гваяковой смолы, мускуса и амбры. Аромат, посвященный женщинам с горячим сердцем и чувственной натурой.
  h2.text-center СЕМЕЙСТВО АРОМАТОВ: ЦВЕТОЧНО-ОРИЕНТАЛЬНЫЕ.
  p
    ul.rain
      each title in ['Начальные ноты: морозные цветы, зелень смородины, бергамот из Калабрии.','Ноты «сердца»: белые снежные пионы, гардения, роза абсолют, иланг-иланг, корень касатика, сантал, белая замша.','Конечные ноты: патока, индонезийский пачули, гваяковый бальзам, мускус, амбра.']
        li= title
